.navbar {
    overflow: hidden;
    text-align: right;
    font-size: large;
    text-size-adjust: 50px;
    background-color: rgb(86, 202, 62);
    color: rgb(15, 131, 232);
    position: static;
    top: 50px; 
    width: 100%; 
  }
  .logo{
    text-align: left;
  }
  h1
  {
    text-align: center;
  }
  
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(218, 215, 11);
    color: rgb(125, 170, 20);
    text-align: center;
}
